export(pgfSweave)
export(pgfSweaveDriver)
import(utils)
importFrom(digest,digest)
importFrom(formatR,deparse.tidy)
importFrom(formatR,parse.tidy)
importFrom(formatR,tidy.source)
importFrom(tikzDevice,tikz)
importFrom(tools,texi2dvi)
