export("pgfSweaveDriver")
export("pgfSweave")

import(utils)
importFrom(digest, "digest")
importFrom(tools, "texi2dvi")
importFrom(tikzDevice, "tikz")
importFrom(formatR, "tidy.source", "parse.tidy", "deparse.tidy")